<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 
    
<body>
    <%- include('./partials/header') %> 

    <main>
        <h1>register</h1>
    </main>

    <%- include('./partials/footer') %>
     
    
</body>
</html>