.login h1{
    text-align: center;
    text-transform: capitalize;
}
.login main section{
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    padding: 80px;
    text-align: center;
}
.login form .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.login form input{
    border-radius: 10px;
    width: 50%;
}

.login form button{
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid red;
    background-color: palegreen;
}
.login form button:hover{
    border: 1px solid green;
    background-color: rgb(127, 247, 127);
}
