<div class="wrap">
    <div id="arrow-left" class="arrow"></div>
    <div id="slider">
      <div class="slide slide1" style="background-image:url(/images/banner/carrusel1.jpg);">
        <div class="slide-content">
        </div>
      </div>
      <div class="slide slide2" style="background-image:url(/images/banner/carrusel2.jpg);" >
        <div class="slide-content">
        </div>
      </div>
      <div class="slide slide3" style="background-image:url(/images/banner/carrusel3.jpg);">
        <div class="slide-content">
        </div>
      </div>
    </div>
    <div id="arrow-right" class="arrow"></div>
</div>
