<header>
    <a href='/'><div class="logo">
        <img src="/images/products/logo.png" alt="">
    </div></a>
    <nav>
        <ul>
            <li><a href="/product">products</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/admin">Agregar</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
        </ul>
    </nav>
</header>