<div id="blurry-filter"></div>
<header class="main-header">
  <!-- BARRA DE NAVEGACION -->
  <div class="container-fluid header-container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="/">
          <img src="/images/products/logo.png" alt="" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">Sobre Mi</a>
              </li>
            </ul>
            <form class="d-flex" action="/products/search" method="GET">
              <input class="form-control me-2" name="search" type="search" placeholder="Buscar productos"
                aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <ul class="icon">
              <% if (typeof user=='undefined' ) { %>
                <li><a href="/user/login"><i class="far fa-user-circle"></i></a></li>
              <% } else { %>
                <li><a href="/user/login"><img src="/images/Users/<%= user.img %>" class="avatar-header" alt=""></a></li>
              <% } %>
                <li>
                  <button type="button" class="nav-link btn-cart" data-bs-toggle="modal" data-bs-target="#modal-carrito">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge rounded-pill bg-warning"></span>
                  </button>
                </li>
            </ul>
          </div>
      </nav>
  </div>
  
</header>
<aside>
  <!-- Modal -->
  <div class="modal fade" id="modal-carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="miCarrito">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mi changuito</h5>
        </div>
        <div class="modal-body" id="lista-carrito">
          <div class="table-responsive">
            <table class="table">
              <thead id="cart-head">
                <tr>
                  <th colspan="3">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">SubTotal</th>
                </tr>
              </thead>
                <tbody>
                  <span id="cart-empty" class="text-danger">El carrito no tiene productos agregados</span>
                </tbody>
                <tfoot id="cart-footer">
                  <tr>
                    <th colspan="4"  class="text-end" id="totaltitle">TOTAL:</th>
                    <th >
                      <h5 id="total"></h5>
                    </th>
                  </tr>
                </tfoot>
              </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" id="btn-delete-cart">Vaciar carrito</button>
          <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Seguir comprando</button>
          <button type="button" class="btn btn-sm btn-primary" id="btn-next-buy">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>
</aside>