<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <img src="" alt="">
        <p>Nombre de la persona</p>
    </div>
    <main>
        <aside>
            <div class="profilePicture">

            </div>
            <h2>Rol de la persona</h2>
            <p>Sobre la persona </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui inventore quibusdam vel veniam perspiciatis atque, eaque pariatur ea quas dignissimos necessitatibus earum voluptates consequuntur quis fuga ullam quam cum laborum!</p>

            <div>
                <p>Animales</p>
                <p>Perro</p>
                <p>Gato</p>
                <p>Rata</p>
            </div>
        </aside>
        <section>
            <div>
                <div>
                    <h4>Email</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div>
                    <h4>Contraseña</h4>
                    <p>¿Desea cambiar su contraseña?</p>
                </div>
            </div>
            <div>
                <div>
                    <h4>Direccion</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div>
                    <h4>Numero</h4>
                    <p>85503</p>
                </div>
                <div>
                    <h4>Apartamento</h4>
                    <p>B4M5</p>
                </div>
                <div>
                    <h4>Pais</h4>
                    <p>Argentina</p>
                </div>
                <div>
                    <h4>Provincia</h4>
                    <p>Buenos Aires</p>
                </div>
                <div>
                    <h4>Ciudad</h4>
                    <p>La Matanza</p>
                </div>
                <div>
                    <h4>Codigo Postal</h4>
                    <p>5502</p>
                </div>
            </div>
        </section>
        <a href="/users/edit/1">
            <button class="btn btn-primary">Editar Perfil</button>
        </a>
    </main>
</body>
</html>